.adm__topo__titulo{
    color: #464646;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 32px;
}

@media screen and (max-width:561px){
    .adm__topo__titulo{
       margin-bottom: 10px;
    }
}