.rodape{
    background:#FFFFFF;
    color: #464646;
    display:flex;
    flex-direction: column;
    height: 75px;
    max-height: 75px;
    justify-content: center;
    text-align: center;

    font-family: 'Raleway';
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}