.contato__botao-enviar{
    border: none;
    background:#2A7AE4;
    color: #fff;
    cursor: pointer;
    height: 51px;
    padding: 0;
    width: 165px;

    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width:769px){
    .contato__botao-enviar{
        height: 40px;
        width: 151px;
    }
}
